# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

!.idea
/spongeforge-1.12.2-2838-7.2.1-RC4011-sources.jar
/run_server_obf/
/keystore.jks
